body{
    font-family: 'Poppins', sans-serif;
    background-color: #BEFFF7;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #6499E9;
}

.main{
    width: 800px;
    height: auto;
    background-color: #9EDDFF;
    margin: auto;
    border-radius: 10px;
    padding: 40px;
  box-shadow: rgba(32, 1, 1, 0.35) 0px 5px 15px;

}

.main input{
    background-color: #6499E9;
    border-radius: 5px;
    padding: 8px;
    text-align: left;
    width:600px;
    
    font-size: 20px;
    font-weight: 900;
    
                       
}

.main button{
    background-color: #6499E9;
    
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 900;
    width: 150px;
    font-size: 20px;
    

}
.main ul{
    list-style-type: none;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
}

li{
    margin: 10px;
    background-color: #6499E9;
    flex-grow: 1;
    
    padding: 20px;
   border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media screen  and (max-width : 800px){
    




.main{
    width: 300px;
}


.main input{
    width: 180px;
}
.main button{
    width: 75px;
}
}